.container {
  max-width: 900px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
  color: black;
  margin-top: 8rem;
}

.resumo {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  background: rgba(0, 0, 255, 0.775);
  padding: 10px;
  border-radius: 8px;
  color: white;
  font-weight: bold;
}

.tabela-wrapper {
  max-height: 400px; /* altura para ~10 linhas */
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 6px;

  /* Scrollbar mais discreto */
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #ccc transparent; /* Firefox */
}

.tabela-wrapper::-webkit-scrollbar {
  width: 6px; /* largura fininha */
}

.tabela-wrapper::-webkit-scrollbar-track {
  background: transparent; /* trilho invisível */
}

.tabela-wrapper::-webkit-scrollbar-thumb {
  background-color: #bbb; /* cor discreta */
  border-radius: 10px;
}
.tabela-contas {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

.tabela-contas th {
  background: #0077cc;
  color: white;
  padding: 10px;
  text-align: left;
  position: sticky;
  top: 0; /* cabeçalho fixo */
  z-index: 1;
}

.tabela-contas td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.linha-paga {
  text-decoration: line-through;
  color: gray;
  background: #f9f9f9;
}

.btn-pagar {
  padding: 6px 12px;
  background: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-pagar:disabled {
  background: gray;
  cursor: not-allowed;
}




.btn-filtrar {
  margin-bottom: 10px;
  padding: 6px 12px;
  background: #0077cc;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-filtrar:hover {
  background: #005fa3;
}

.filtros {
  display: flex;
  justify-content: center; /* centraliza no meio */
  gap: 6px;
  margin: 10px auto 20px auto;
  width: 200px;
  height: 175px;
}

.filtros input {
  padding: 4px 6px; /* menor */
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.85rem;
  width: 200px; /* largura menor */
}

.filtros button {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  font-size: 0.85rem;
  cursor: pointer;
}

.filtros button[type="submit"] {
  background: #28a745;
  color: white;
}

.filtros button[type="submit"]:hover {
  background: #1e7e34;
}

.btn-limpar {
  background: #dc3545;
  color: white;
}

.btn-limpar:hover {
  background: #a71d2a;
}